* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

p {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: large;
}